name: MasterDeployCI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: '0'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Remove old packages
      run: rm -f imjoseangel-general*.tar.gz
    - name: Create ansible collection package
      run: ansible-galaxy collection build
    - name: Commit files
      run: |
        git config --local user.email "josea.munoz@gmail.com"
        git config --local user.name "imjoseangel"
        git add .
        git commit -m "Adds new release"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Bump version and push tag
      id: bumpVersion
      uses: anothrNick/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CUSTOM_TAG: v1.0.1
    - name: Upload to release
      uses: AButler/upload-release-assets@v2.0
      with:
        files: imjoseangel-general*.tar.gz
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        release-tag: ${{ steps.bumpVersion.outputs.new_tag }}
